@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 

Class Guidelines: 

*/

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global Declarations */
:root {
  --primary-color-set1: #ff2e63;
  --secondary-color-set1: #252a34;
  --background-color-set1: #eaeaea;
  --highlight-color-set1: #08d9d6;
  --text-color-light: #ffffff;
  --text-color-dark: #252a34;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
.blog-container {
  padding-left: 25%;
  padding-right: 25%;
}

/* -----------------------------------------------------------Header Styles-------------------------------------------------------------------- */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--text-color-light);
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 10px rgba(0, 38, 81, 0.25);
  z-index: 9999;
}
.header-active {
  background-color: var(--secondary-color-set1);
  transition: color 100ms ease-in-out;
  box-shadow: 0px 2px 10px rgba(0, 38, 81, 0.25);
}
.header-active .nav-links a {
  color: var(--text-color-light);
}
.mobile-menu {
  display: none;
}
.navigation-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.nav-links .nav-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.nav-links .nav-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.nav-links a {
  text-decoration: none;
  color: var(--text-color-dark);
  transition: color 300ms ease-in-out;
  font-weight: 600;
}
.nav-links a:hover {
  color: var(--primary-color-set1);
}
.nav-links li {
  list-style: none;
}
/* -----------------------------------------------------------Hero Slider Styles-------------------------------------------------------------------- */
.section-heroslider {
  height: 100%;
  background-image: url(../images/hero_background.png);
  margin-bottom: 30px;
}

.section-heroslider .slide-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade 300ms ease-in-out;
}
.section-heroslider .slide-content .slide-text h1 {
  color: var(--secondary-color-set1);
  font-size: 3em;
}
.section-heroslider .slide-content .slide-text h3 {
  color: var(--secondary-color-set1);
  font-weight: var(--secondary-color-set1);
}
.section-heroslider .slide-content .slide-text a {
  text-decoration: none;
  background-color: var(--primary-color-set1);
  color: var(--text-color-light);
  padding: 5px 15px;
  border-radius: 16px;
  transition: color 300ms ease-in-out;
}
.section-heroslider .slide-content .slide-text a:hover {
  color: var(--text-color-dark);
}
.section-heroslider .slide-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-heroslider .slide-button i {
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  color: rgba(37, 42, 52, 0.6);
  transition: color 300ms ease-in-out;
}
.section-heroslider .slide-button i:hover {
  color: var(--primary-color-set1);
}
/* -----------------------------------------------------------Home Blog Area Styles-------------------------------------------------------------------- */
.section-homeblogarea {
  height: auto;
  background-color: #eaeaea;
}
.section-homeblogarea .section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 8px;
}
.section-homeblogarea .section-text {
  text-align: center;
  padding: 2em;
  font-size: 1.3em;
  color: var(--text-color-dark);
}
.section-homeblogarea .section-content .box {
  width: 30%;
  text-decoration: none;
  background-color: #ffffff;
  transition: transform 300ms ease;
}
.section-homeblogarea .section-content .box:hover {
  transform: scale(102%);
}
.section-homeblogarea .section-content .box-img img {
  width: 100%;
  filter: grayscale(80%);
  transition: filter 300ms ease;
}
.section-homeblogarea .section-content .box-img img:hover {
  filter: none;
}

.section-homeblogarea .section-content .box-text h3,
p {
  color: var(--text-color-dark);
  padding-top: 10px;
}
.section-homeblogarea .section-content .box-text {
  padding: 10px;
}
.section-homeblogarea .section-content .box .box-author .author {
  display: flex;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.section-homeblogarea .section-content .box .box-author .tag {
  font-size: 0.7em;
  padding: 5px 15px;
  border-radius: 16px;
  margin: 4px;
}
.section-homeblogarea .section-content .box .box-author .tag:nth-child(1) {
  background-color: #eabd6c;
  color: var(--text-color-dark);
}
.section-homeblogarea .section-content .box .box-author .tag:nth-child(2) {
  background-color: #d35375;
  color: var(--text-color-light);
}
.section-homeblogarea .section-content .box .box-author .tag:nth-child(3) {
  background-color: #353333;
  color: var(--text-color-light);
}
.section-homeblogarea .section-content .box .box-author .author p {
  font-size: 0.8em;
  color: var(--text-color-dark);
}
.section-homeblogarea .section-content .box .box-author .author img {
  height: 24px;
  width: 24px;
  border-radius: 16px;
  margin-right: 10px;
}
.section-homeblogarea .loadButton {
  padding: 3em;
  text-align: center;
}
.section-homeblogarea .loadButton a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: var(--primary-color-set1);
  color: var(--text-color-light);
  transition: color 300ms ease;
}
.section-homeblogarea .loadButton a:hover {
  color: var(--text-color-dark);
}
/* -----------------------------------------------------------Home Blog Area Styles-------------------------------------------------------------------- */
.section-homeauthor {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
.section-homeauthor img {
  width: 100%;
  margin-bottom: 1em;
}
.section-homeauthor p {
  font-size: 0.9em;
  font-weight: 400;
  color: var(--text-color-dark);
  margin-bottom: 20px;
}
.section-homeauthor .section-text {
  text-align: center;
}
.section-homeauthor .section-text a {
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 16px;
  color: var(--text-color-light);
  background-color: var(--primary-color-set1);
  transition: color 300ms ease;
}
.section-homeauthor .section-text a:hover {
  color: var(--text-color-dark);
}
.section-homeauthor .section-image {
  text-align: center;
}
.section-homeauthor .section-image h4 {
  font-weight: 500;
  color: var(--text-color-dark);
}
.section-homeauthor .section-image h5 {
  font-weight: 500;
  color: var(--text-color-dark);
}
.section-homeauthor .section-image i {
  color: var(--text-color-dark);
  margin: 10px;
  transition: color 300ms ease;
}
.section-homeauthor .section-image i:hover {
  color: var(--primary-color-set1);
}

/* ------------------------------Blog Content Single Page --------------------------------------- */

.single-blog li {
  margin-left: 4em;
  margin-right: 4em;
}

.single-blog .wp-block-image img {
  width: 100%;
  height: 100%;
}

/* ------------------------------Project Page --------------------------------------- */

.section-projectpage {
  height: 100%;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
.section-projectpage img {
  width: 300px;
}
.section-projectpage h3 {
  color: var(--text-color-dark);
  font-weight: 500;
  margin: 2em;
}
.section-projectpage .article-btn {
  text-decoration: none;
  background-color: var(--primary-color-set1);
  padding: 5px 15px;
  color: var(--text-color-light);
  border-radius: 16px;
  transition: color 300ms ease-in-out;
}
.section-projectpage .article-btn:hover {
  color: var(--text-color-dark);
}
.section-projectpage .socials {
  margin: 1em;
}
.section-projectpage .socials a {
  color: var(--secondary-color-set1);
  margin: 10px;
  transition: color 300ms ease-in-out;
}
.section-projectpage .socials a:hover {
  color: var(--primary-color-set1);
}

/* --------------------------------- Contact Page Styles -------------------------------------------------- */
.section-contact {
  background-color: #eaeaea;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-contact .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.section-contact .section-text {
  width: 50%;
  padding-top: 14em;
  padding-bottom: 14em;
  text-align: center;
  background-color: #ea5454;
  background-size: 100%;
}
.section-contact .section-text a {
  text-decoration: none;
  color: var(--text-color-light);
}
.section-contact .section-text .email {
  font-size: 1.2em;
}
.section-contact .section-text i {
  color: var(--text-color-dark);
  margin: 10px;
  transition: color 300ms ease-in-out;
}
.section-contact .section-text i:hover {
  color: var(--text-color-light);
}
.section-contact .section-image {
  width: 50%;
  text-align: center;
  padding-top: 2em;
  padding-left: 10px;
  padding-right: 10px;
}
.section-contact .section-image img {
  width: 300px;
}

/* ------------------------------------------Footer Menu--------------------------------------------------- */
.section-footer {
  padding-top: 2em;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color-set1);
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .logo-footer {
  margin-right: 10px;
}
.section-footer .logo-footer h1 {
  font-size: 64px;
  font-weight: 900;
  color: var(--primary-color-set1);
}
.section-footer {
  color: #ffffff;
}
.section-footer p {
  color: var(--text-color-light);
}
.section-footer .footer-credits {
  font-size: 0.7em;
}
.section-footer input {
  background-color: #ffffff;
  padding: 5px 15px;
  border-radius: 16px;
  border: none;
}
.section-footer input::placeholder {
  color: var(--text-color-dark);
}
.section-footer button {
  background-color: var(--primary-color-set1);
  color: #ffffff;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 16px;
  border: none;
  transition: color 300ms ease-in-out;
  cursor: pointer;
}
.section-footer button:hover {
  color: var(--text-color-dark);
}
.section-footer i {
  color: var(--highlight-color-set1);
  transition: color 300ms ease-in-out;
}
.section-footer i:hover {
  color: var(--text-color-light);
}
.section-footer .footer-socials div {
  display: flex;
  justify-content: space-evenly;
}

/* ------------------------------------------------------Logo Animation--------------------------------------------------------------------- */
#logo-animate {
  animation: logo-fill 600ms ease forwards 2900ms;
}
#logo-animate path:nth-child(1) {
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px;
  animation: logo-stroke-animation 2000ms ease forwards;
}
#logo-animate path:nth-child(2) {
  stroke-dasharray: 1729px;
  stroke-dashoffset: 1729px;
  animation: logo-stroke-animation 2300ms ease forwards;
}
#logo-animate path:nth-child(3) {
  stroke-dasharray: 1875px;
  stroke-dashoffset: 1875px;
  animation: logo-stroke-animation 2600ms ease forwards;
}
#logo-animate path:nth-child(4) {
  stroke-dasharray: 985px;
  stroke-dashoffset: 985px;
  animation: logo-stroke-animation 2900ms ease forwards;
}

@keyframes logo-stroke-animation {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes logo-fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--primary-color-set1);
  }
}
@keyframes nav-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* -------------------------------------------------------------------Media Query Break Point 1024px-------------------------------------------------------------- */

@media screen and (max-width: 1024px) {
  .container {
    padding-right: 5%;
    padding-left: 5%;
  }
  .blog-container {
    padding-left: 5%;
    padding-right: 5%;
  }
  /* Mobile Menu Header Style ------------------------------------------------------------------- */

  .mobile-menu {
    display: block;
    cursor: pointer;
  }
  .mobile-menu > div {
    background-color: var(--secondary-color-set1);
    width: 20px;
    height: 3px;
    border-radius: 3px;
    margin: 3px;
  }
  .nav-links {
    display: none;
    background-color: var(--text-color-light);
    position: absolute;
    right: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 50%;
    top: 8vh;
  }
  .nav-links a {
    font-weight: 400;
  }
  .nav-links .search-menu input {
    width: 100px;
  }
  .nav-active {
    display: flex;
    animation: fade 300ms ease-in-out;
  }
  .nav-links .nav-text {
    width: 70%;
  }
  .nav-links .nav-socials {
    width: 50%;
  }
  .header-active .nav-links {
    background-color: var(--secondary-color-set1);
  }
  .header-active .mobile-menu > div {
    background-color: var(--text-color-light);
  }
  /* Home Hero Slider Style ------------------------------------------------------------------- */

  .section-heroslider {
    height: 100%;
    padding-bottom: 20px;
  }
  .section-heroslider .slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-heroslider .slide-content .slide-text {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .section-heroslider .slide-content .slide-text h1 {
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
  }
  .section-heroslider .slide-content .slide-text h3 {
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
  }
  .section-heroslider .slide-content .slide-text a {
    text-align: center;
    margin-top: 20px;
  }

  .section-heroslider .slide-button i {
    margin-left: 40px;
    margin-right: 40px;
  }
  .section-heroslider .slide-image img {
    width: 100%;
  }
  /* -----------------------------------Home Blog Area ------------------------------------------ */
  .section-homeblogarea .section-content {
    display: flex;
    flex-direction: column;
  }
  .section-homeblogarea .section-content .box {
    width: 100%;
  }
  /* -----------------------------------Home Author ------------------------------------------ */
  .section-homeauthor {
    display: flex;
    flex-direction: column;
  }
  .section-homeauthor .section-text {
    margin-bottom: 20px;
  }
  .section-homeauthor .section-image img {
    width: 70%;
  }
  /* ----------------------------------- Footer Menu------------------------------------------ */
  .section-footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .section-footer .footer-wrapper .footer-input {
    display: flex;
  }
  .section-footer .footer-wrapper .footer-input input {
    width: 70%;
    margin-right: 4px;
  }

  /* ---------------------------Project Page ------------------------------- */
  .section-projectpage h3 {
    font-size: 1em;
    font-weight: 400;
  }
  .section-projectpage {
    padding-top: 1em;
  }

  /* ------------------------------Blog Content Single Page --------------------------------------- */

  .single-blog li {
    margin-left: 2em;
    margin-right: 2em;
  }

  .single-blog .wp-block-image img {
    width: 100%;
    height: 100%;
  }
  /* ------------------ Contact Page ----------------------- */
  .section-contact .wrapper {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .section-contact {
    height: 100%;
  }
  .section-contact .section-text {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .section-contact .section-image {
    width: 100%;
  }
  .section-contact .section-image img {
    width: 250px;
  }
}

/* -------------------------------------------------------------Animations----------------------------------------------------------------------------- */

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
